<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Wordpress</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>

  <div id="app">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" :class="{active: currentTab == 'generate'}" href="#"
          @click="changeTab('generate')">Générer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" :class="{active: currentTab == 'manage'}" href="#" @click="changeTab('manage')">Gérer</a>
      </li>
    </ul>
    <div class="container-fluid">
      <section v-if="currentTab == 'generate'">
        <form @submit.prevent="generate()">
          <div>
            <label for="nb">Nombre à générer</label>
            <input v-model="toGenerate.nb" class="form-control" type="number" name="nb" id="nb" min="1" required>
          </div>
          <div>
            <label for="promo">Nom de promo</label>
            <input placeholder="nom de la promo" v-model="toGenerate.promo" class="form-control" type="text" name="promo" id="promo" pattern="[a-zA-Z0-9\-_]+"  required>
            <p class="fs-6 text-secondary">Pas d'espaces ni de caractères spéciaux. Exemple correct : promo1</p>
          </div>
          <div>
            <label for="fabrique">Fabrique</label>
            <input placeholder="nom de la fabrique" v-model="toGenerate.fabrique" class="form-control" type="text" name="fabrique" id="fabrique" required>
            <p class="fs-6 text-secondary">Pas d'espaces ni de caractères spéciaux. Exemple correct : ville</p>

          </div>
          <div>
            <label for="fabrique">Numéro de départ (optionnel)</label>
            <input v-model="toGenerate.starting" class="form-control" type="number" name="starting" id="starting" min="1">
          </div>
          <button class="btn btn-primary mt-3">Générer</button>
        </form>
        <p v-if="feedback">{{feedback}}</p>
      </section>
      <section v-if="currentTab == 'manage'">
        <div class="d-flex my-3">
          <label>Filtres :</label>
          <input type="text" class="form-control w-25 mx-3" v-model="fabriqueFilter" placeholder="fabrique">
          <input type="text" class="form-control w-25" v-model="promoFilter" placeholder="promo">
        </div>
        
        <button class="btn btn-primary mx-1" @click="refresh()">Actualiser</button>
        <button class="btn btn-secondary mx-1" @click="selected = wordpressesFiltered">Tout Sélectionner</button>
        <button class="btn btn-secondary mx-1" @click="selected = []">Tout Désélectionner</button>
        <button class="btn btn-danger mx-1" v-if="selected.length" @click="remove()">Supprimer</button>
        <button class="btn btn-warning mx-1" v-if="selected.length" @click="resetAdmin()">Réinitialiser l'admin</button>
        <button class="btn btn-warning mx-1" v-if="selected.length" @click="noPlugin()">Désactiver les plugins</button>
        <ul class="list-group m-5">
            <li @click="select(wordpress)" class="list-group-item" v-for="wordpress in wordpressesFiltered" :class="{active: selected.includes(wordpress)}" :key="wordpress.dbName">
              {{wordpress.fabrique}} {{wordpress.promo}} {{wordpress.site}} <a :href="`https://wordpress.simplon-ara.fr/${wordpress.fabrique}/${wordpress.promo}/${wordpress.site}`">Voir</a>
            </li>
        </ul>

      </section>
    </div>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

  <script>
    const { createApp, ref, computed, reactive } = Vue

    createApp({
      setup() {
        const feedback = ref('');
        const toGenerate = reactive({
          fabrique: '',
          nb: 1,
          promo: '',
          starting: 1
        });
        const wordpresses = ref([]);
        const currentTab = ref('generate');
        const selected = ref([]);
        const promoFilter = ref('');
        const fabriqueFilter = ref('');
        const wordpressesFiltered = computed(() => wordpresses.value.filter(item => selected.value.includes(item) || (item.fabrique.match(fabriqueFilter.value) && item.promo.match(promoFilter.value))));
        const changeTab = async (tab) => {
          feedback.value = '';
          currentTab.value = tab;
          if (tab == 'manage') {
            const response = await fetch('/wordpress-list');
            wordpresses.value = await response.json();
          }
        }

        const generate = async () => {
          feedback.value = '';
          await fetch('/wordpress-generate', {
              method: 'POST',
              headers: new Headers({'Content-Type':'application/json'}),  
              body: JSON.stringify(toGenerate)
            });
            feedback.value = `La génération de ${toGenerate.nb} wordpress pour la promo ${toGenerate.fabrique}-${toGenerate.promo} a bien été prise en compte et sera disponible d'ici quelques minutes à l'adresse https://wordpress.simplon-ara.fr/${toGenerate.fabrique}/${toGenerate.promo}/wordpress${toGenerate.starting} jusqu'à ${toGenerate.nb+toGenerate.starting-1}` 

        }

        const refresh = async () => {
          
          const response = await fetch('/wordpress-list?refresh=true');
            wordpresses.value = await response.json();
        }

        const select = (wordpress) => {
          if(selected.value.includes(wordpress)) {
            selected.value = selected.value.filter(item => item != wordpress)
          } else {
            selected.value.push(wordpress);
          }
        }

        const remove = async () => {
          if(confirm('Confirmer la suppression définitive')) {
            
            await fetch('/wordpress-remove', {
              method: 'POST',
              headers: new Headers({'Content-Type':'application/json'}),  
              body: JSON.stringify(selected.value)
            });

            wordpresses.value = wordpresses.value.filter(item => !selected.value.includes(item));
            selected.value = [];
          }
        }

        const resetAdmin = async () => {
          if(confirm('Le login sera remis à "admin" et le mot de passe à "simplon1234"')) {
            
            await fetch('/wordpress-reset', {
              method: 'POST',
              headers: new Headers({'Content-Type':'application/json'}),  
              body: JSON.stringify(selected.value)
            });

            selected.value = [];
          }
        }
        const noPlugin = async () => {
          if(confirm('Tous les plugins de ce wordpress seront désactivés')) {
            
            await fetch('/wordpress-no-plugin', {
              method: 'POST',
              headers: new Headers({'Content-Type':'application/json'}),  
              body: JSON.stringify(selected.value)
            });

            selected.value = [];
          }
        }

        return {
          feedback,
          toGenerate,
          wordpressesFiltered,
          currentTab,
          selected,
          promoFilter,
          fabriqueFilter,
          generate,
          changeTab,
          select,
          refresh,
          remove,
          resetAdmin,
          noPlugin
        }
      }
    }).mount('#app')
  </script>
</body>

</html>